html, body, #root {
  font-family: 'Open Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

#root {
  padding: 0;
}

#container {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

#container-content {
  position: relative;
  flex: 1;
}

.footer {
  margin-bottom: 20px;
  margin-top: 20px;
}
